@import "./fonts.scss";

.btn {
    display: inline-flex;
}

.btn-menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 28px;
    height: 15px;
    font-size: 0;
    cursor: pointer;
    transition: 0.23s ease;
    &::before,
    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: var(--color-black);
        transition: 0.34s ease;
    }
    span {
        display: inline-block;
        width: 100%;
        height: 2px;
        background-color: var(--color-black);
        transition: 0.23s ease;
    }
}

.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &__text {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        font-size: 0;
        &::before {
            font-family: "icomoon";
            font-size: 1.25rem;
            line-height: 1.25rem;
        }
    }
    &--user {
        .btn-icon__text {
            &::before {
                content: "\e908";
                font-size: 1.1875rem;
                font-weight: 600 !important;
                line-height: 1;
            }
        }
    }
    &--search {
        .btn-icon__text {
            &::before {
                content: "\e905";
            }
        }
    }
    &--shoppingbag {
        .btn-icon__text {
            &::before {
                content: "\e903";
            }
        }
    }
}

.icon-title {
    visibility: hidden;
    margin-left: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #000;
    white-space: nowrap;
}

.btn-navfoot {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0 0 0 2.3125rem;
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 0.03125rem;
    line-height: 1.125rem;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 16px;
        height: 16px;
        transform: translateY(-50%);
    }
    &--phone {
        &::before {
            background: url(/images/icons/icon_phone.webp) center / auto
                no-repeat;
        }
    }
    &--marker {
        &::before {
            background: url(/images/icons/icon_marker.webp) center / auto
                no-repeat;
        }
    }
}

.btn-link {
    font-size: 0.59375rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.0625rem;
    line-height: 1;
    padding: 0.625rem 2rem;
    background-color: #fff;
    border-radius: 1.71875rem;
    text-transform: uppercase;
    &--bk {
        background-color: #000;
        color: #fff;
    }
}

.btn-cart {
    &::before {
        content: "\e903";
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
}
