@media (prefers-color-scheme: dark) {
    .main {
        // --gray-rgb: 255, 255, 255;
        // --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
        // --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

        // --button-primary-hover: #ccc;
        // --button-secondary-hover: #1a1a1a;
    }
}

.main {
    overflow: hidden;
    background-color: #f5f5f5;
    :global(.subscribe__inner) {
        background-color: #fff;
    }
}

@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
