@media (prefers-color-scheme: dark) {
    .main {
        // --gray-rgb: 255, 255, 255;
        // --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
        // --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

        // --button-primary-hover: #ccc;
        // --button-secondary-hover: #1a1a1a;
    }
}

.main {
    padding-left: 4.5rem;
    transition: padding 0.5s ease-out;
    overflow: hidden;
}

:global(.container--widenav) {
    .main {
        padding-left: 380px;
    }
}

@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
