.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    &--active {
        display: block;
        .modal {
            animation: modalOpen 0.3s ease forwards;
        }
    }
}
@keyframes modalOpen {
    0% {
    }
    100% {
        transform: none;
    }
}
.dim {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal {
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    &__inner {
        position: relative;
        height: 100%;
        padding: 1.875rem 0.625rem 3.375rem;
    }
}
