.kv {
    &__control {
        position: absolute;
        right: 1.25rem;
        bottom: 1.25rem;
        z-index: 2;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
            li {
                font-size: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .kv {
        &__control {
            ul {
                li {
                    &:not(:first-child) {
                        display: none;
                    }
                }
            }
        }
    }
}
