.kv {
    padding: 0;
    transform-style: preserve-3d;
    will-change: transform, padding, height;
    transition: 0.5s ease;
    &__inner {
        position: relative;
    }
    &__container {
        height: 100vh;
        will-change: transform, height;
        transition: 0.5s ease;
    }

    &--active {
        padding: 1.5rem;
        padding-block-end: 1.875rem;
        .kv__container {
            overflow: hidden;
            border-radius: 0.9375rem;
            height: 90vh;
        }
    }
    :global(.swiper) {
        height: 100%;
        overflow: hidden;
    }
    &__pagination {
        display: flex;
        column-gap: 5px;
        margin-top: 1rem;
        padding: 0 0.375rem;
        span {
            margin: 0 !important;
            background-color: #000;
        }
    }
}
