.reinsurance__container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 1.5rem;
}

@media screen and (max-width: 768px) {
    .reinsurance__container {
        flex-direction: column;
        row-gap: 1.5rem;
    }
}
