.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    &__inner {
        position: relative;
        background-color: #000;
    }
    &__logo {
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        top: 4.6875rem;
        right: 2.1875rem;
        width: 3.75rem;
        a {
            display: block;
        }
    }
    &.active {
        .header__logo {
            -webkit-filter: drop-shadow(0 0 2.5rem #000);
            filter: drop-shadow(0 0 2.5rem #000);
            opacity: 1;
        }
    }
    &__banner {
        overflow: hidden;
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
    &__rolling {
        position: relative;
        padding: 0.6875rem 0;
        &--close {
            display: none;
        }
    }
    &__close {
        position: absolute;
        top: 50%;
        right: 0;
        padding: 0 1.25rem;
        display: inline-block;
        font-size: 0;
        transform: translateY(-50%);
        cursor: pointer;
        &::before {
            content: "\e932";
            font-family: "icomoon";
            font-size: 1.875rem;
            color: #fff;
        }
    }
}

.full-logo {
    opacity: 1;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
    pointer-events: none;
    &--fadeout {
        opacity: 0;
    }
}

.header-slider {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    &__item {
        p {
            margin: 0 auto;
            padding: 0 1.25rem;
            font-family: " Proxima Nova Sm";
            font-size: 0.875rem;
            font-weight: 600;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
        }
    }
    :global(.slick-list) {
        max-width: 100%;
        width: 100% !important;
    }
    :global(.slick-slide) {
        word-break: break-all;
    }
    :global(.slick-slide:not(.slick-current)) {
        height: 0 !important;
    }
    :global(.slick-prev) {
        display: inline-block;
        width: auto;
        height: auto;
        &::before {
            content: "\e92c";
            font-family: "icomoon";
            font-size: 1.875rem;
            color: #fff;
        }
    }
    :global(.slick-next) {
        display: inline-block;
        width: auto;
        height: auto;
        &::before {
            content: "\e92d";
            font-family: "icomoon";
            font-size: 1.875rem;
            color: #fff;
        }
    }
}

@media screen and (max-width: 769px) {
    .header {
        &__close {
            padding: 0 0.25rem;
        }
    }
}
