.side-nav {
    &__utils {
        position: absolute;
        top: 50%;
        left: 0;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding-left: 25px;
        transform: translateY(-50%);
        transition: opacity 0.34s ease;
        &--active {
            opacity: 1;
            position: static;
            flex-direction: row;
            justify-content: space-between;
            padding: 2.4375rem 1.875rem 1.875rem 3.125rem;
            transform: translateY(0);
            transition: opacity 0.34s ease;
            :global(.icon-title) {
                visibility: visible;
            }
            .utils__right {
                flex-direction: row;
                column-gap: 10px;
            }
        }
        &--closing {
            opacity: 0;
            transition: none;
        }
    }
}

.utils__right {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
