.menu {
    opacity: 0;
    overflow-x: hidden;
    pointer-events: none;
    padding: 1.875rem 1.875rem 1.4375rem 3.125rem;
    transition: opacity 0.5s ease-out;
    &__item {
        position: relative;
        margin: 0 0 1.1875rem;
        a,
        button {
            position: relative;
            display: inline-block;
            width: 100%;
            padding-right: 24px;
            font-family: "Proxima Nova Rg";
            font-size: 15px;
            color: var(--color-black);
            font-weight: 700;
            cursor: pointer;
            text-align: left;
            &.menu__depth2--grey,
            &.menu__depth3--grey {
                text-transform: uppercase;
                color: #757575;
            }
        }
        a {
            padding-right: 0;
        }
        button {
            &::before {
                content: "\e901";
                position: absolute;
                top: 50%;
                right: 0;
                display: inline-block;
                font-family: "icomoon";
                font-size: 0.6875rem;
                font-style: normal;
                font-variant: normal;
                font-weight: 400;
                transform: translateY(-50%) rotate(180deg);
            }
        }
        &--border {
            padding-top: 1.875rem;
            margin-top: 1.75rem;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: -100%;
                right: -100%;
                display: inline-block;
                border-bottom: 0.125rem solid #e1e1e1;
            }
            button {
                color: #757575;
            }
            &:only-child {
                padding-top: 0;
                margin-top: 0;
                &::before {
                    display: none;
                }
                .depth2-container {
                    .menu__item {
                        a,
                        button {
                            color: #000;
                        }
                    }
                }
            }
        }
        .menu__depth1 {
            font-family: "Balmain Sans";
            font-weight: 500;
        }
        .menu__depth2 {
            font-size: 16px;
        }
    }
    &__depth3 {
        position: relative;
        display: inline-block;
        width: 100%;
        padding-right: 24px;
        font-family: "Proxima Nova Rg";
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        text-align: left;
    }
    &--active {
        opacity: 1;
        pointer-events: all;
    }
    &--closing {
        opacity: 0;
        transition: none;
    }
}
.depth2-container {
    > ul {
        > .menu__item {
            &:first-child {
                margin-bottom: 30px;
                .menu__depth2 {
                    padding-right: 0;
                    padding-left: 24px;
                    font-family: "Balmain Sans";
                    font-size: 15px;
                    font-weight: 500;
                    color: #757575;
                    &::before {
                        right: auto;
                        left: 0;
                        color: #757575;
                        transform: translateY(-50%) rotate(0deg);
                    }
                }
            }
            &--border {
                a,
                button {
                    color: #757575;
                }
                & ~ .menu__item {
                    a,
                    button {
                        color: #757575;
                    }
                }
            }
        }
    }
}
.depth3-container {
    ul {
        .menu__item {
            &:first-child {
                margin-bottom: 30px;
                .menu__depth2 {
                    padding-right: 0;
                    padding-left: 24px;
                    font-family: "Proxima Nova Rg";
                    font-size: 15px;
                    font-weight: 700;
                    color: #757575;
                    &::before {
                        right: auto;
                        left: 0;
                        color: #757575;
                        transform: translateY(-50%) rotate(0deg);
                    }
                }
            }
        }
    }
}
