.detail {
    display: flex;
    min-height: 100vh;
    &__left {
        flex: 1;
    }
    &__right {
        position: relative;
        flex: 1;
        padding: 0 24px;
    }
    &__back {
        margin-bottom: 1.25rem;
    }
    &__float {
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 2.5rem;
        h2 {
            font-size: 1.5rem;
        }
    }
    &__cart {
        margin-top: 24px;
    }
    &__collections {
        font-family: "Balmain Sans";
        margin: 0 0 0.3125rem;
        font-size: 14px;
        line-height: 1.125rem;
        color: #808080;
    }
    &__name {
        h2 {
            font-family: "Balmain Sans";
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.0625rem;
            line-height: 1.2;
        }
    }
    &__price {
        padding: 0.5rem 0;
        font-family: "Proxima Nova Sm";
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.3;
    }
}

@media screen and (max-width: 900px) {
    .detail {
        &__float {
            position: static;
            padding-top: 1.25rem;
        }
        &__head {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0.625rem;
        }
        &__cloned {
            display: none;
            &--fixed {
                display: block;
                position: fixed;
                bottom: 1.25rem;
                left: 1.25rem;
                right: 1.25rem;
                margin-top: 0;
                z-index: 201;
                a {
                    min-height: 4rem;
                    border-radius: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .detail {
        &__cloned {
            &--fixed {
                position: fixed;
                bottom: 0.625rem;
                left: 0.625rem;
                right: 0.625rem;
                a {
                    min-height: 4rem;
                    border-radius: 2rem;
                    min-width: auto;
                    width: 100%;
                }
            }
        }
    }
}
