.detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    &__left {
    }
    &__right {
        padding: 0 24px;
    }
}

@media screen and (max-width: 900px) {
    .detail {
        position: relative;
        display: block;
        padding-top: 9rem;
        &__right {
            padding: 0 1.25rem;
        }
    }
}
