.cart-list {
    max-width: 41.25rem;
    width: 100%;
    &__left {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex-shrink: 0;
        max-width: 15.8125rem;
        span {
            font-family: "Proxima Nova Rg";
            font-size: 14px;
        }
    }
    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-basis: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .cart-list {
        max-width: none;
    }
}
